---
import { getCldImageUrl } from "astro-cloudinary/helpers";
import { db, eq, Projects, Posts } from "astro:db";
import Icon from "astro-iconify";
import Layout from "../../../layouts/Layout.astro";

// Get the project ID from the URL
const projectId = Number(Astro.params.id?.split("-")?.[0] || 0);

if (!projectId) {
  return Astro.redirect("/");
}

const projects = await db.select().from(Projects).where(eq(Projects.id, projectId)).limit(1);

let project = projects[0];

const bannerImageUrl = getCldImageUrl({
  src: project?.bannerImageId || "",
  width: 1200,
  crop: "fill",
  format: "webp"
});

const youtubeVideoId = project?.youtubeVideoUrl?.split("v=")[1] as string | undefined;
const youtubeVideoUrl = new URL(`https://www.youtube.com/embed/${youtubeVideoId}`);
youtubeVideoUrl.searchParams.set("rel", "0");

const posts = await db.select().from(Posts).where(eq(Posts.projectId, projectId));
---

<Layout title="Dashboard">
  <div x-data class="p-6 py-12 container mx-auto flex flex-col gap-12">
    <header class="flex justify-center">
      <svg height="24" viewBox="0 0 942 116" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M17.4662 60.335C83.2289 -8.02649 173.634 20.8424 239.397 96.9995"
          stroke="black"
          stroke-opacity="0.4"
          stroke-width="22.4191"
          stroke-linecap="round"></path>
        <path
          d="M16.9994 59.777C82.7621 128.139 173.634 95.1571 239.397 19"
          stroke="black"
          stroke-width="22.4191"
          stroke-linecap="round"></path>
        <path
          d="M336.902 34.4318V48.9773H293.812V34.4318H336.902ZM303.675 104.25V29.3864C303.675 24.3258 304.66 20.1288 306.63 16.7954C308.63 13.4621 311.357 10.9621 314.812 9.29545C318.266 7.62878 322.19 6.79545 326.584 6.79545C329.554 6.79545 332.266 7.02272 334.721 7.47727C337.206 7.93182 339.054 8.34091 340.266 8.70454L336.812 23.25C336.054 23.0076 335.115 22.7803 333.993 22.5682C332.902 22.3561 331.781 22.25 330.63 22.25C327.781 22.25 325.796 22.9167 324.675 24.25C323.554 25.553 322.993 27.3864 322.993 29.75V104.25H303.675ZM366.141 105.568C361.687 105.568 357.717 104.795 354.232 103.25C350.747 101.674 347.99 99.3561 345.959 96.2955C343.959 93.2045 342.959 89.3561 342.959 84.75C342.959 80.8712 343.671 77.6136 345.096 74.9773C346.52 72.3409 348.459 70.2197 350.914 68.6136C353.368 67.0076 356.156 65.7955 359.277 64.9773C362.429 64.1591 365.732 63.5833 369.187 63.25C373.247 62.8258 376.52 62.4318 379.005 62.0682C381.49 61.6742 383.293 61.0985 384.414 60.3409C385.535 59.5833 386.096 58.4621 386.096 56.9773V56.7045C386.096 53.8258 385.187 51.5985 383.368 50.0227C381.581 48.447 379.035 47.6591 375.732 47.6591C372.247 47.6591 369.474 48.4318 367.414 49.9773C365.353 51.4924 363.99 53.4015 363.323 55.7045L345.414 54.25C346.323 50.0076 348.111 46.3409 350.777 43.25C353.444 40.1288 356.884 37.7348 361.096 36.0682C365.338 34.3712 370.247 33.5227 375.823 33.5227C379.702 33.5227 383.414 33.9773 386.959 34.8864C390.535 35.7955 393.702 37.2045 396.459 39.1136C399.247 41.0227 401.444 43.4773 403.05 46.4773C404.656 49.447 405.459 53.0076 405.459 57.1591V104.25H387.096V94.5682H386.55C385.429 96.75 383.929 98.6742 382.05 100.341C380.171 101.977 377.914 103.265 375.277 104.205C372.641 105.114 369.596 105.568 366.141 105.568ZM371.687 92.2045C374.535 92.2045 377.05 91.6439 379.232 90.5227C381.414 89.3712 383.126 87.8258 384.368 85.8864C385.611 83.947 386.232 81.75 386.232 79.2955V71.8864C385.626 72.2803 384.793 72.6439 383.732 72.9773C382.702 73.2803 381.535 73.5682 380.232 73.8409C378.929 74.0833 377.626 74.3106 376.323 74.5227C375.02 74.7045 373.838 74.8712 372.777 75.0227C370.505 75.3561 368.52 75.8864 366.823 76.6136C365.126 77.3409 363.808 78.3258 362.868 79.5682C361.929 80.7803 361.459 82.2955 361.459 84.1136C361.459 86.75 362.414 88.7652 364.323 90.1591C366.262 91.5227 368.717 92.2045 371.687 92.2045ZM420.482 104.25V34.4318H439.846V104.25H420.482ZM430.209 25.4318C427.331 25.4318 424.861 24.4773 422.8 22.5682C420.77 20.6288 419.755 18.3106 419.755 15.6136C419.755 12.947 420.77 10.6591 422.8 8.75C424.861 6.8106 427.331 5.8409 430.209 5.8409C433.088 5.8409 435.543 6.8106 437.573 8.75C439.634 10.6591 440.664 12.947 440.664 15.6136C440.664 18.3106 439.634 20.6288 437.573 22.5682C435.543 24.4773 433.088 25.4318 430.209 25.4318ZM492.493 34.4318V48.9773H450.448V34.4318H492.493ZM459.993 17.7045H479.357V82.7955C479.357 84.5833 479.63 85.9773 480.175 86.9773C480.721 87.947 481.478 88.6288 482.448 89.0227C483.448 89.4167 484.599 89.6136 485.902 89.6136C486.812 89.6136 487.721 89.5379 488.63 89.3864C489.539 89.2045 490.236 89.0682 490.721 88.9773L493.766 103.386C492.796 103.689 491.433 104.038 489.675 104.432C487.918 104.856 485.781 105.114 483.266 105.205C478.599 105.386 474.509 104.765 470.993 103.341C467.509 101.917 464.796 99.7045 462.857 96.7045C460.918 93.7045 459.963 89.9167 459.993 85.3409V17.7045ZM525.971 63.8864V104.25H506.607V11.1591H525.425V46.75H526.243C527.819 42.6288 530.365 39.4015 533.88 37.0682C537.395 34.7045 541.804 33.5227 547.107 33.5227C551.956 33.5227 556.183 34.5833 559.789 36.7045C563.425 38.7955 566.243 41.8106 568.243 45.75C570.274 49.6591 571.274 54.3409 571.243 59.7955V104.25H551.88V63.25C551.91 58.947 550.819 55.5985 548.607 53.2045C546.425 50.8106 543.365 49.6136 539.425 49.6136C536.789 49.6136 534.456 50.1742 532.425 51.2955C530.425 52.4167 528.849 54.053 527.698 56.2045C526.577 58.3258 526.001 60.8864 525.971 63.8864ZM597.8 105.432C594.8 105.432 592.224 104.371 590.073 102.25C587.952 100.098 586.891 97.5227 586.891 94.5227C586.891 91.553 587.952 89.0076 590.073 86.8864C592.224 84.7652 594.8 83.7045 597.8 83.7045C600.709 83.7045 603.255 84.7652 605.437 86.8864C607.618 89.0076 608.709 91.553 608.709 94.5227C608.709 96.5227 608.194 98.3561 607.164 100.023C606.164 101.659 604.846 102.977 603.209 103.977C601.573 104.947 599.77 105.432 597.8 105.432ZM661.743 34.4318V48.9773H619.698V34.4318H661.743ZM629.243 17.7045H648.607V82.7955C648.607 84.5833 648.88 85.9773 649.425 86.9773C649.971 87.947 650.728 88.6288 651.698 89.0227C652.698 89.4167 653.849 89.6136 655.152 89.6136C656.062 89.6136 656.971 89.5379 657.88 89.3864C658.789 89.2045 659.486 89.0682 659.971 88.9773L663.016 103.386C662.046 103.689 660.683 104.038 658.925 104.432C657.168 104.856 655.031 105.114 652.516 105.205C647.849 105.386 643.759 104.765 640.243 103.341C636.759 101.917 634.046 99.7045 632.107 96.7045C630.168 93.7045 629.213 89.9167 629.243 85.3409V17.7045ZM705.152 105.614C698.092 105.614 691.986 104.114 686.834 101.114C681.713 98.0833 677.759 93.8712 674.971 88.4773C672.183 83.053 670.789 76.7652 670.789 69.6136C670.789 62.4015 672.183 56.0985 674.971 50.7045C677.759 45.2803 681.713 41.0682 686.834 38.0682C691.986 35.0379 698.092 33.5227 705.152 33.5227C712.213 33.5227 718.304 35.0379 723.425 38.0682C728.577 41.0682 732.546 45.2803 735.334 50.7045C738.122 56.0985 739.516 62.4015 739.516 69.6136C739.516 76.7652 738.122 83.053 735.334 88.4773C732.546 93.8712 728.577 98.0833 723.425 101.114C718.304 104.114 712.213 105.614 705.152 105.614ZM705.243 90.6136C708.456 90.6136 711.137 89.7045 713.289 87.8864C715.44 86.0379 717.062 83.5227 718.152 80.3409C719.274 77.1591 719.834 73.5379 719.834 69.4773C719.834 65.4167 719.274 61.7955 718.152 58.6136C717.062 55.4318 715.44 52.9167 713.289 51.0682C711.137 49.2197 708.456 48.2955 705.243 48.2955C702.001 48.2955 699.274 49.2197 697.062 51.0682C694.88 52.9167 693.228 55.4318 692.107 58.6136C691.016 61.7955 690.471 65.4167 690.471 69.4773C690.471 73.5379 691.016 77.1591 692.107 80.3409C693.228 83.5227 694.88 86.0379 697.062 87.8864C699.274 89.7045 702.001 90.6136 705.243 90.6136ZM783.652 105.614C776.592 105.614 770.486 104.114 765.334 101.114C760.213 98.0833 756.259 93.8712 753.471 88.4773C750.683 83.053 749.289 76.7652 749.289 69.6136C749.289 62.4015 750.683 56.0985 753.471 50.7045C756.259 45.2803 760.213 41.0682 765.334 38.0682C770.486 35.0379 776.592 33.5227 783.652 33.5227C790.713 33.5227 796.804 35.0379 801.925 38.0682C807.077 41.0682 811.046 45.2803 813.834 50.7045C816.622 56.0985 818.016 62.4015 818.016 69.6136C818.016 76.7652 816.622 83.053 813.834 88.4773C811.046 93.8712 807.077 98.0833 801.925 101.114C796.804 104.114 790.713 105.614 783.652 105.614ZM783.743 90.6136C786.956 90.6136 789.637 89.7045 791.789 87.8864C793.94 86.0379 795.562 83.5227 796.652 80.3409C797.774 77.1591 798.334 73.5379 798.334 69.4773C798.334 65.4167 797.774 61.7955 796.652 58.6136C795.562 55.4318 793.94 52.9167 791.789 51.0682C789.637 49.2197 786.956 48.2955 783.743 48.2955C780.501 48.2955 777.774 49.2197 775.562 51.0682C773.38 52.9167 771.728 55.4318 770.607 58.6136C769.516 61.7955 768.971 65.4167 768.971 69.4773C768.971 73.5379 769.516 77.1591 770.607 80.3409C771.728 83.5227 773.38 86.0379 775.562 87.8864C777.774 89.7045 780.501 90.6136 783.743 90.6136ZM849.971 11.1591V104.25H830.607V11.1591H849.971ZM923.573 54.3409L905.846 55.4318C905.543 53.9167 904.891 52.553 903.891 51.3409C902.891 50.0985 901.573 49.1136 899.937 48.3864C898.331 47.6288 896.406 47.25 894.164 47.25C891.164 47.25 888.634 47.8864 886.573 49.1591C884.512 50.4015 883.482 52.0682 883.482 54.1591C883.482 55.8258 884.149 57.2348 885.482 58.3864C886.815 59.5379 889.103 60.4621 892.346 61.1591L904.982 63.7045C911.77 65.0985 916.831 67.3409 920.164 70.4318C923.497 73.5227 925.164 77.5833 925.164 82.6136C925.164 87.1894 923.815 91.2045 921.118 94.6591C918.452 98.1136 914.785 100.811 910.118 102.75C905.482 104.659 900.134 105.614 894.073 105.614C884.831 105.614 877.467 103.689 871.982 99.8409C866.527 95.9621 863.331 90.6894 862.391 84.0227L881.437 83.0227C882.012 85.8409 883.406 87.9924 885.618 89.4773C887.831 90.9318 890.664 91.6591 894.118 91.6591C897.512 91.6591 900.24 91.0076 902.3 89.7045C904.391 88.3712 905.452 86.6591 905.482 84.5682C905.452 82.8106 904.709 81.3712 903.255 80.25C901.8 79.0985 899.558 78.2197 896.527 77.6136L884.437 75.2045C877.618 73.8409 872.543 71.4773 869.209 68.1136C865.906 64.75 864.255 60.4621 864.255 55.25C864.255 50.7651 865.467 46.9015 867.891 43.6591C870.346 40.4167 873.785 37.9167 878.209 36.1591C882.664 34.4015 887.876 33.5227 893.846 33.5227C902.664 33.5227 909.603 35.3864 914.664 39.1136C919.755 42.8409 922.724 47.9167 923.573 54.3409Z"
          fill="black"></path>
      </svg>
    </header>
    <main class="flex flex-col gap-6 w-full">
      <div class="p-6 rounded-2xl bg-white w-full shadow flex flex-col gap-6">
        {
          youtubeVideoId ? (
            <iframe
              class="my-0 rounded-xl border-2 border-slate-200 aspect-video object-cover object-center w-full"
              width="100%"
              height="100%"
              src={youtubeVideoUrl.toString()}
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            />
          ) : (
            <img
              src={bannerImageUrl}
              alt=""
              class="my-0 rounded-xl border-2 border-slate-200 aspect-video object-cover object-center w-full"
            />
          )
        }

        <section class="flex gap-3 justify-between items-start">
          <div class="flex flex-col gap-1">
            <h1 class="pt-2 line-clamp-2 ellipsis my-0">{project?.title}</h1>
            <p class="text-lg text-slate-500 my-0">By Techless</p>
          </div>
          <!-- Button to sign up -->
          <button @click="$refs.getUpdatesModal.showModal()" class="btn btn-primary">Get Updates</button>
        </section>

        <div class="text-xl" slot="content">
          <Fragment set:html={project?.content} />
        </div>

        <dialog x-ref="getUpdatesModal" id="my_modal_2" class="modal">
          <div class="modal-box bg-white flex flex-col gap-6 p-6 max-w-md">
            <h2 class="text-2xl my-0 items-center w-full">
              <Icon pack="lucide" name="mail" class="w-8 h-8 inline-block mr-1 align-top" />
              <span>Get {project?.title} Updates</span>
            </h2>
            <form class="flex flex-col gap-4 w-full">
              <label class="form-control w-full">
                <div class="label">
                  <span class="text-base label-text text-slate-500">What's your email?</span>
                </div>
                <input
                  type="email"
                  class="input input-lg text-base bg-white rounded-lg input-bordered w-full"
                  placeholder="email@example.com"
                />
              </label>
              <label class="form-control w-full">
                <div class="label">
                  <span class="text-base label-text text-slate-500">First impression of {project?.title}?</span>
                </div>
                <textarea
                  class="textarea textarea-lg text-base bg-white rounded-lg textarea-bordered w-full"
                  placeholder="Optional"></textarea>
              </label>
              <button class="btn btn-primary mt-4 w-full">Get Updates</button>
            </form>
          </div>
          <form method="dialog" class="modal-backdrop">
            <button>close</button>
          </form>
        </dialog>

        <section class="mt-6">
          <h2 class="text-2xl my-0">Posts</h2>
          <ul class="list-none p-0 m-0">
            {
              posts.map((post) => (
                <li class="p-0 m-0 grid grid-cols-[76px_1fr] gap-2">
                  <time datetime={post.createdAt.toISOString()}>
                    {post.createdAt.toLocaleDateString("en-US", { month: "short", day: "numeric" })}
                  </time>
                  <a href={`/app/${projectId}/posts/${post.slug}`}>{post.title}</a>
                </li>
              ))
            }
          </ul>
        </section>
      </div>
    </main>
  </div>
</Layout>
